# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Common files to ignore
**/node_modules
**/coverage
**.DS_Store
**.env*

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Files to ignore in floan-contract
apps/floan-contract/cache
apps/floan-contract/artifacts

# Files to ignore in floan-web
apps/floan-web/build
apps/floan-web/.env*
apps/floan-web/npm-debug.log*
apps/floan-web/yarn-debug.log*
apps/floan-web/yarn-error.log*

# Files to ignore in floan-backend
apps/floan-backend/dist*
