# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Common files to ignore
**/node_modules
**/coverage
**.DS_Store
**.env*

# Files to ignore in floan-contract
floan-contract/cache
floan-contract/artifacts

# Files to ignore in floan-web
floan-web/build
floan-web/.env*
floan-web/npm-debug.log*
floan-web/yarn-debug.log*
floan-web/yarn-error.log*

# Files to ignore in floan-backend
floan-backend/dist*
